QPushButton {
    background-color: rgb(52, 66, 74);;
    color: white;
    border-width: 0px;
    border-radius: 4px;
    font: bold 12px;
    padding: 4px;
}

QPushButton:hover {
    background-color: #41515c;
}

/* This must be after hover, or it is overwritten */
QPushButton:pressed {
    background-color: #41515c;
}

